html {
background-color: #43727F;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
display: inline;
}


li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topbar:link {
text-decoration:none;
text-color: #0000;
}

.welcome {

}

footer {
    clear: both;
    border: 1px groove #aaaaaa;
    background: #7c6a62;
    color: White;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    line-height: normal;
    margin: 0;
    position: fixed;
    bottom: 0px;
    width: 100%;
}
